.button {
  display: flex;
  justify-content: center;
  align-items: center;

  border: unset;
  border-radius: 4px;

  background-color: #181818;
  color: #FFFFFF;
  font-size: 1.2rem;
  padding: 0.4rem 0.8rem;
  min-width: 4rem;
  user-select: none;
  cursor: pointer;

  &:active {
    background-color: rgba(24, 24, 24, 0.84);
  }

  &:focus {
    outline: none;
  }
}